1. The process of query is first get the table >> apply limitation (where), 
2. **count** can be just count( * )

<h3>SQL query </h3> 

Order by can use aggregation operator
```SQL
select species, count(species) from animals group by species order by count(species) desc
```
number of record
```SQL
limit 5 offset 20
```
Having 
```SQL
/* select one food that is eaten by only one animal  */
/* animals(name, species, birthdate); diet(species, food)  */
select food, animals.species from animals join diet on animals.species = diet.species 
group by food
having count(food) = 1 /* or count(animals.species) */
```
Joint three tables [1. by where (better); 2. by (a join b) join c) ]
```SQL
/* 1 */
select ordernames.name, count(*) as num
  from animals, taxonomy, ordernames
  where animals.species = taxonomy.name
    and taxonomy.t_order = ordernames.t_order
  group by ordernames.name
  order by num desc

/* 2 */
select ordernames.name, count(*) as num
  from (animals join taxonomy 
                on animals.species = taxonomy.name)
                as ani_tax
        join ordernames
             on ani_tax.t_order = ordernames.t_order
  group by ordernames.name
  order by num desc
```

<h3> SQL database operation </h3>
<br>
Create a database
```SQL
Create Database mydatabase; 
```
Create a table 
```SQL
Create table customers(
    id int NOT NULL AUTO_INCREMENT,
    Age int,
    birthday DATE, 
    first_name, varchar(255),
    last_name, varchar(255),
    description, text /*text unlimited string */
    homeid int,
    Primary key(id)
    Foreign key(homeid) references  Homes(homeID)
; 
```
Insert record. 
```SQL
Insert Into customers(Age, birthday, first_name, last_name) 
Values (29, '1988-05-23','Han','Jiang');
```
(if it is the same order starting from first col, you don't need columns name) <br>

<h3>Virtual machine </h3>
setup virtual environment: this including installing virtual box, installing vagrant( share file between host computer and VM's filesystem), download VM configuration.<br>
start up: 'cd D:\Software\FSND_...\vagrant'; type 'vagrant up' to start VM, cd /vagrant to get the shared file. <br>
log in: vagrant ssh <br>
exit: cd .. and type exit to back your host computer <br>

<h3>xampp </h3>
click it, start mysql,

<h3> Python API </h3>
commit # if you don't commit, then it will roll back.